body{
    margin: 0px;
    padding: 0px;
}

.authen-box{
    width: 300px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
}

.box-header{
    background-color: #FFC857;
    color: white;
    font-size: 36px;
    text-align: center;
    border-bottom: 2px solid black;
}

.box-form{
    padding: 20px;
    box-sizing: border-box;
}

input[type='text'], input[type='password']{
    background: none;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    height: 25px;
    width: 60%;
}


