html
  head
    title  ProEating
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/authen.css")
  body
    .authen-box
      .box-header
        |ProEating
      .box-form
        form(action="/login", method="post")
          label(for="username")
            |Username:
          input(type='text',id='username', name='username',value='username')
          label(for='password')
            |Password:
          input(type='password',id='password',name='password',value='password')
          input(type='submit')
