html
  head
    title  ProEating
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="css/homepage.css")
  body
    .navbar
      .logo
        span.brandname  Pro Eating!
      .searchbar
        input(type="search")
        span.fa.fa-search.w3-large.search_button
      .topmenu
        .top-button
          span.fa.fa-home.w3-xxlarge
        .top-button
          span.fa.fa-truck.w3-xxlarge
        .top-button
          span.fa.fa-bars.w3-xxlarge
    .sidemenu
      ul
        li  Food Feed 
        li  Promotion &amp; News 
        li  Chef Ranking
        li  Restaurant Ranking
    .post-list
      each post in posts
        .post-object
          .createdBy 
            =post.createdBy
          .post-description
            =post.description
